<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-chip (click)="showVarillaModal()">
    <ion-label>{{currentVarilla}}</ion-label>
  </ion-chip>
  <p>Paspartú</p>
  <ion-slides id="mySlides" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let varilla of varillas">
      {{varilla}}
    </ion-slide>
  </ion-slides>
  <div class="frame">
    Marco
    <div class="photo">
      Foto
    </div>
  </div>

  <p>Muestra 1</p>
  <p>Muestra 2</p>
</ion-content>